* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: PAIN;
  src: url("../assets/fonts/static/HankenGrotesk-Bold.ttf");
}
@font-face {
  font-family: Pain-bold;
  src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
}
@font-face {
  font-family: Tinubu;
  src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf");
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh;
  font-family: Tinubu;
}
.container {
  width: 40rem;
  display: flex;
  margin-bottom: 1rem;
}
.card1 {
  padding: 2rem 0;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) 75%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;
}
.card2 {
    background:white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    box-shadow: 1px 5px 10px  hsl(241, 100%, 89%);
    margin-left: -1rem;
  }
  .timm{
    padding: 1rem 3rem;

  }
.your {
  color: hsl(241, 100%, 89%);
}
.figure {
    border-radius: 50%;
    background: linear-gradient(145deg,  hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
    box-shadow:  5px 5px 10px hsla(256, 72%, 46%, 1) ,
                 -8px -10px 5px  hsla(241, 72%, 46%, 0) ;
  height: 10rem;
  width: 10rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(241, 100%, 89%);
}
.number {
  color: white;
  font-size: 2.5rem;
}
.gr {
  color: white;
}
.you {
  color: hsl(241, 100%, 89%);
  width: 70%;
  margin: 8px auto;
  text-align: center;
}
.summ{
color:  hsl(224, 30%, 27%);
font-weight: 600;
font-family: Tinubu;
font-size: 1.5rem;
padding-bottom: 1rem;
}
.item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    padding:0 1rem;
    align-items: center;
    border-radius: .7rem;
    background-color:  hsla(0, 100%, 67%, 0.1);
    margin-bottom: 1rem;
}
.item-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    padding:0 1rem;
    align-items: center;
    border-radius: .7rem;
    background-color:  hsla(39, 100%, 56%, 0.1);
    margin-bottom: 1rem;
    
}
.item-container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    padding:0 1rem;
    align-items: center;
    border-radius: .7rem;
    background-color:  hsla(166, 100%, 37%, 0.1);
    margin-bottom: 1rem;
    
}
.item-container4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    padding:0 1rem;
    align-items: center;
    border-radius: .7rem;
    background-color:  hsla(234, 85%, 45%, 0.1);
    margin-bottom: 1rem;
    
}
.icon-text{
    display: flex;
    flex-direction: row;
    gap:.5rem;
    justify-content: center;
    align-items: center;
}
.item-container> .icon-text>  .item-text{
    color: hsl(0, 100%, 67%);
}
.item-container2> .icon-text>  .item-text{
    color: hsl(39, 100%, 56%);
}
.item-container3> .icon-text>  .item-text{
    color: hsl(166, 100%, 37%);
}
.item-container4> .icon-text>  .item-text{
    color: hsl(234, 85%, 45%);
}
.icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-overall{
    color: hsl(241, 100%, 80%);
}
.score{
    color:  hsl(224, 30%, 27%);
}
.cin{
    border-radius:2rem;
    background-color: hsl(224, 30%, 27%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color:hsl(0, 0%, 100%);
    font-family: Tinubu;
    font-size: 18px;
    outline: none;
    border: none;
    margin-top: 1.5rem;
    width: 100%;
}